<h1>Sign in</h1>

<form action="<%= sessions_url %>" method="post">
  <%= auth_token %>

  <label for="email">Email:</label>
  <input type="text" name="sessions[email]" id="email" />
  <br>
  <label for="password">Password:</label>
  <input type="password" name="sessions[password]" id="password" />
  <br>
  <input type="submit" value="Sign in">

</form>
