<h1>New comment</h1>

<form class="" action="<%= post_comments_url(params[:post_id]) %>" method="post">
  <%= auth_token %>
  <label for="content">Content:</label><br>
  <textarea name="comment[content]" rows="8" cols="80" id="content"></textarea><br>

  <input type="submit" name="" value="Submit comment">

</form>
